.all_content {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

.sidebar {
    position: relative;
    width: fit-content;
}

.main_content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.main_body {
    height: 100%;
    padding: 20px 14px;
    // overflow: scroll;
}

.right {
    display: flex;
    flex-direction: row;
    background-color: grey;
    min-width: 250px;
    min-height: 100vh;
    position: relative;
}


footer {
    height: 50px;
    margin-top: auto;
}