/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    /* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
    /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
    /* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    /* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    /* Styles */
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
    /* Styles */
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
    /* Styles */
}

.all_content {
    display: flex;
    flex-direction: row;
    min-height: 100vh;

    @media only screen and (max-width : 480px) {
        /* Styles */
        flex-direction: column;

    }
}

.sidebar {

    /* Smartphones (portrait) ----------- */
    @media only screen and (max-width : 480px) {
        /* Styles */
        width: 100vw;

    }

    @media only screen and (min-width : 480px) {
        /* Styles */
        // position: relative;
        width: fit-content;

    }

}

.main_content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.main_body {
    height: 100%;
    padding: 20px 14px;
    overflow: scroll;
    min-width: 300px;
}

.right {
    display: flex;
    flex-direction: row;
    background-color: grey;
    min-width: 250px;
    min-height: 100vh;
    position: relative;
}

.main_content {
    .footer {
        height: 50px;
        margin-top: auto;
    }
}