@use "../../../../../../../styles/sass/abstracts/mixins"as *;

.welcomeMessage {
    display: flex;
    flex-direction: column;

    .messageBody {
        display: flex;
        flex-direction: row;

        @include for-smaller-desktop-down {
            flex-direction: column;
        }

        gap: 3em;

        .message {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        }
    }

    img {
        width: 400px;
        max-width: 100%;

        @include for-smaller-desktop-down {
            align-self: center;
        }
    }
}