.homepageBody {
    display: flex;
    justify-content: center;
    min-height: 75vh;
    height: max-content;
    width: 100%;
    padding: 14px 20px;
    z-index: 0;

    h1 {
        text-align: center;
        margin: 26px 0;
    }
}