.nodata {
  > * {
    text-align: center;
  }
}

.container {
  display: flex;
  gap: 20px;

  > * {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;

    p,
    h4 {
      margin: 0;
    }

    object {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
