.homeScreen {

    .mainImage {
        // position: relative;

        img {
            max-width: 100%;
            padding: 0 0;
        }

        // h1 {
        //     position: absolute;
        //     top: 50%;
        //     left: 50%;
        //     transform: translate(-50%, -50%);
        //     color: red;
        // }
    }

    body {
        margin: 2em 6em;

        .welcomeMessage {
            display: flex;
            flex-direction: column;

            .body {
                display: flex;
                flex-direction: row;
                gap: 3em;


                .message {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                }
            }

            img {
                width: 400px;
            }
        }

        .missionMessage {
            display: flex;
            flex-direction: column;

            h2,
            p {
                text-align: center;
                align-self: center;
                width: 50%;
            }
        }

        .schoolNews {
            .news {
                display: flex;
                flex-direction: row;
                justify-content: space-between;


                .newsContainer {
                    width: 400px;

                    h5 {
                        margin-top: 0.3em;
                    }
                }
            }
        }
    }
}