.homeScreen {
    overflow: hidden;

    .mainImage {


        img {
            max-width: 100%;
            padding: 0 0;
        }
    }

    .mainContent {
        // overflow: hidden;
        margin: 2em 5em;

        img {
            border-radius: 8px;
        }

        >* {
            margin-bottom: 2em;
        }

        .welcomeMessage {
            display: flex;
            flex-direction: column;

            .messageBody {
                display: flex;
                flex-direction: row;
                gap: 3em;


                .message {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                }
            }

            img {
                width: 400px;
            }
        }

        .missionMessage {
            display: flex;
            flex-direction: column;

            h2,
            p {
                text-align: center;
                align-self: center;
                width: 50%;
            }
        }

        .schoolNews {

            // Margin below school heading below heading
            h2 {
                margin-bottom: 0.5em;
            }

            .news {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                flex-wrap: wrap;


                .newsContainer {
                    width: min-content;

                    img {
                        width: 400px;
                        height: 266px;
                        object-fit: cover;
                    }

                    h5 {
                        margin-top: 0.3em;
                    }
                }
            }
        }
    }
}