.homeScreen {
    overflow: hidden;

    .mainImage {
        img {
            max-width: 100%;
            padding: 0 0;
        }
    }

    .mainContent {
        margin: 2em 9%;

        img {
            border-radius: 8px;
        }

        >* {
            margin-bottom: 2em;
        }

        .missionMessage {
            display: flex;
            flex-direction: column;

            h2,
            p {
                text-align: center;
                align-self: center;
                width: 50%;
            }
        }
    }
}