.navbar {
  background-color: blue;
  display: flex;
  position: sticky;
  top: 0;
  z-index: 1;
}
.navbar .linearProgressRoot :global {
  background-color: #7aaec2;
}
.navbar .linearProgressRoot :global .MuiLinearProgress-bar {
  background-color: #264653;
}

.toolbar {
  justify-content: space-between;
  background-color: #264653;
  height: 115px;
}
.toolbar .menuIcon {
  display: flex;
  justify-content: center;
  height: -moz-max-content;
  height: max-content;
  width: 10%;
}
.toolbar .menuIcon :global .MuiSvgIcon-root {
  cursor: pointer;
  font-size: xx-large;
}
.toolbar .menuIcon :global .MuiSvgIcon-root:hover {
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 4px;
}
.toolbar .menuIcon :global .MuiSvgIcon-root:active {
  border-radius: 4px;
  background-color: red;
  background-color: rgba(0, 0, 0, 0.04);
}
.toolbar a {
  text-decoration: none;
  color: white;
}
.toolbar a .schoolName {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 20%;
  text-align: center;
  padding-left: 14px;
}
.toolbar a .schoolName > * {
  display: flex;
  justify-content: center;
  width: -moz-max-content;
  width: max-content;
}
.toolbar a .schoolName > * > * {
  margin-top: 5px;
  margin-bottom: 5px;
}
.toolbar a .schoolName .engName {
  margin: 0;
}
.toolbar a .schoolName .engName h5 {
  font-weight: 350;
}
.toolbar a .schoolName .arbName {
  margin: 0;
}
.toolbar a .schoolName .arbName h5 {
  font-size: 1.7rem;
}
.toolbar .loginText {
  display: flex;
  justify-content: center;
  width: 10%;
}
.toolbar .loginText a {
  color: white;
  text-decoration: none;
  padding: 6px 4px;
  border-radius: 6px;
  font-size: 1.3em;
}
.toolbar .loginText a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
@media (min-width: 1200px) {
  .toolbar .menuIcon {
    display: none;
  }
}
.toolbar .menu {
  margin-right: 16px;
}
@media (max-width: 1200px) {
  .toolbar .menu {
    display: none;
  }
}
.toolbar .menu .menuLinks {
  display: flex;
  flex-direction: row;
}
.toolbar .menu .menuLinks .dropdownContainer:hover .dropdownContent {
  display: block;
}
.toolbar .menu .menuLinks .dropdownContainer:hover > .menuHeading,
.toolbar .menu .menuLinks .dropdownContainer:hover > a {
  display: block;
  color: #e8c468;
}
.toolbar .menu .menuLinks .dropdownContainer {
  position: relative;
  display: flex;
}
.toolbar .menu .menuLinks .dropdownContainer .dropdownContent {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 3rem;
  position: absolute;
}
.toolbar .menu .menuLinks .dropdownContainer .dropdownContent a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.toolbar .menu .menuLinks .dropdownContainer .dropdownContent a:hover {
  background-color: #7aaec2;
  box-shadow: 10px 0px #eac671 inset;
}
.toolbar .menu .menuLinks .menuHeading {
  cursor: pointer;
}
.toolbar .menu .menuLinks h1 {
  margin-bottom: 0;
  padding: 0;
}
.toolbar .menu .menuLinks > * {
  display: flex;
  height: 60px;
  align-items: center;
  padding: 10px 14px;
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
  transition: 0.2s ease-in-out;
}

.overlay {
  position: absolute;
  background-color: #f1f1f1;
  min-width: 100%;
  animation: fadeInAnimation 0.3s;
}
@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.overlay .overlayIcon {
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  padding: 20px 47px;
}
.overlay .overlayIcon :hover {
  background-color: red;
}
.overlay .menu {
  display: flex;
  justify-content: center;
}
.overlay .menu .dropdownContent {
  display: none;
}
.overlay .menuLinks {
  width: 100%;
  margin-top: 30px;
}
.overlay .menuLinks .dropdownContainer,
.overlay .menuLinks .menuHeading {
  cursor: pointer;
}
.overlay .menuLinks .dropdownContainer :hover,
.overlay .menuLinks .menuHeading :hover {
  background-color: #e8c468;
}
.overlay .menuLinks .dropdownContainer .menuHeading,
.overlay .menuLinks .menuHeading .menuHeading {
  padding: 10px;
  font-size: x-large;
  display: flex;
  align-items: center;
}
.overlay .menuLinks .dropdownContainer .menuHeading a,
.overlay .menuLinks .dropdownContainer a,
.overlay .menuLinks .menuHeading .menuHeading a,
.overlay .menuLinks .menuHeading a {
  text-decoration: none;
  color: inherit;
}
.overlay .menuLinks .menuItem {
  display: flex;
  justify-content: center;
}
.overlay .menuLinks .menuItem a {
  padding: 10px;
  font-size: x-large;
}
.overlay .menuLinks .menuHeading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 15px;
}/*# sourceMappingURL=NavStyle.module.css.map */