.navbar {
    background-color: blue;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1;

    .linearProgressRoot :global {
        background-color: #7AAEC2;

        .MuiLinearProgress-bar {
            background-color: #264653;
        }
    }
}

// Toolbar
.toolbar {
    justify-content: space-between;
    background-color: #264653;
    height: 115px;

    .menuIcon {
        display: flex;
        justify-content: center;
        height: max-content;
        width: 10%;

        :global .MuiSvgIcon-root {
            cursor: pointer;
            font-size: xx-large;

            &:hover {
                background-color: rgba(0, 0, 0, 0.04);
                border-radius: 4px;
            }

            &:active {
                border-radius: 4px;
                background-color: red;
                background-color: rgba(0, 0, 0, 0.04);
            }

        }
    }

    a {
        text-decoration: none;
        color: white;

        .schoolName {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            width: 20%;
            text-align: center;
            padding-left: 14px;

            // School Names
            >* {
                display: flex;
                justify-content: center;
                width: max-content;

                >* {
                    margin-top: 5px;
                    margin-bottom: 5px;
                }
            }

            .engName {
                margin: 0;

                h5 {
                    font-weight: 350;
                }
            }

            .arbName {
                margin: 0;

                h5 {
                    font-size: 1.7rem;
                }
            }

        }
    }

    .loginText {
        display: flex;
        justify-content: center;
        width: 10%;

        a {
            color: white;
            text-decoration: none;
            padding: 6px 4px;
            border-radius: 6px;
            font-size: 1.3em;

            &:hover {
                background-color: rgba(0, 0, 0, 0.1);
            }
        }
    }

    .menu {
        margin-right: 16px;

        .menuLinks {
            display: flex;
            flex-direction: row;

            // Show dropdown
            .aboutUsDropdown:hover .dropdownContent {
                display: block;

            }

            .aboutUsDropdown:hover>.menuHeading,
            .aboutUsDropdown:hover>a {
                display: block;
                color: #E8C468;

            }

            .aboutUsDropdown {
                position: relative;
                // display: inline-block;
                display: flex;

                .dropdownContent {
                    display: none;
                    position: absolute;
                    background-color: #f1f1f1;
                    min-width: 200px;
                    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                    z-index: 1;
                    top: 3rem;
                    position: absolute;

                    a {
                        color: black;
                        padding: 12px 16px;
                        text-decoration: none;
                        display: block;

                        &:hover {
                            background-color: #7AAEC2;
                            box-shadow: 10px 0px #EAC671 inset;
                        }
                    }
                }
            }

            .menuHeading {
                cursor: pointer;
            }

            h1 {
                margin-bottom: 0;
                padding: 0;
            }

            >* {
                display: flex;
                height: 60px;
                align-items: center;
                padding: 10px 14px;
                text-decoration: none;
                color: white;
                font-size: 1.2rem;
                transition: 0.2s ease-in-out;
            }

        }
    }
}