.navbar {
    background-color: blue;
    display: flex;
    position: sticky;
    top: 0;

    .linearProgressRoot :global {
        background-color: #7AAEC2;

        .MuiLinearProgress-bar {
            background-color: #264653;
        }
    }
}

// Toolbar
.toolbar {
    justify-content: space-between;
    background-color: #264653;
    height: 115px;

    .menuIcon {
        display: flex;
        justify-content: center;
        height: max-content;
        width: 10%;

        :global .MuiSvgIcon-root {
            cursor: pointer;
            font-size: xx-large;

            &:hover {
                background-color: rgba(0, 0, 0, 0.04);
                border-radius: 4px;
            }

            &:active {
                border-radius: 4px;
                background-color: red;
                background-color: rgba(0, 0, 0, 0.04);
            }

        }
    }

    .schoolName {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        width: 20%;
        text-align: center;

        // School Names
        >* {
            display: flex;
            justify-content: center;

            >* {
                margin-top: 5px;
                margin-bottom: 5px;
            }
        }

        .engName {
            margin: 0;

            h5 {
                font-weight: 350;
            }
        }

        .arbName {
            margin: 0;

            h5 {
                font-size: 1.7rem;
            }
        }

    }

    .loginText {
        display: flex;
        justify-content: center;
        width: 10%;

        a {
            color: white;
            text-decoration: none;
            padding: 6px 4px;
            border-radius: 6px;
            font-size: 1.3em;

            &:hover {
                background-color: rgba(0, 0, 0, 0.1);
            }
        }
    }

    .menu {
        margin-right: 16px;

        .menuLinks {
            display: flex;
            flex-direction: row;
            // gap: 30px;

            a:hover {
                // background-color: #E8C468;
                // border-radius: 5px;
                // color: black;
                border-bottom: 2px solid #E8C468;
                color: #E8C468;
            }

            h1 {
                margin-bottom: 0;
                padding: 0;
            }

            >* {
                display: flex;
                height: 60px;
                align-items: center;
                padding: 10px 14px;
                text-decoration: none;
                color: white;
                font-size: 1.1rem;
                transition: 0.2s ease-in-out;
            }

        }
    }
}