$aqua: #39D1B4;

.divider {
    border: 0;
    height: 1px;
    width: 20%;
    position: relative;
    margin: 30px auto;

    background: $aqua;

    &:before {
        content: "";
        width: 6px;
        height: 6px;
        background: $aqua;
        display: inline-block;
        border: 2px solid $aqua;
        position: absolute;
        top: -5px;
        left: 50%;
        margin: 0 0 0 -3px;
    }
}