.homeFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #F1F1F2;
}

.homeFooter .sections {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 85%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 16px;
}

.homeFooter .sections h5 {
  margin-bottom: 15px;
}

.homeFooter .sections .network {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.homeFooter .sections .network .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.homeFooter .sections .network .links a {
  text-decoration: none;
  color: black;
}

.homeFooter .sections .network img {
  width: 200px;
  height: auto;
}

.homeFooter .sections .connected {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.homeFooter .sections .connected .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.homeFooter .sections .connected .links .facebook a:hover {
  color: #4267B2;
}

.homeFooter .sections .connected .links .twitter a:hover {
  color: #1DA1F2;
}

.homeFooter .sections .connected .links .youtube a:hover {
  color: red;
}

.homeFooter .sections .connected .links .instagram a:hover {
  color: #125688;
}

.homeFooter .sections .connected .links a {
  text-decoration: none;
  color: black;
}

.homeFooter .sections .connected img {
  width: 200px;
  height: auto;
}

.homeFooter .sections .connected ~ * {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.homeFooter .sections .connected ~ * a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-decoration: none;
  color: black;
  margin-bottom: 10px;
}

.homeFooter .sections .ourSchool {
  color: black;
}

.homeFooter .sections .explore {
  color: black;
}

.homeFooter .sections .contact svg {
  margin-right: 10px;
}
/*# sourceMappingURL=FooterStyle.module.css.map */