// Search Box
.main_body .row .search {
    padding-top: 20px;
}

// View users table
.viewusers-table{
    .tab-content {
        // tr:hover td {
        //     background-color: #B5C9EB;
        //     cursor: pointer;
        // }

        // .table-hover tbody tr:hover td,
        // .table-hover tbody tr:hover th {
        //     background-color: #B5C9EB;
        // }

        .table tbody tr:hover td,
        .table tbody tr:hover th {
            background-color: #E0E8F7;
            cursor: pointer;
        }

        background-color: #f8f9fa;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);

        td {
            overflow: auto;
        }

        .tab-pane {
            tr a {
                display: inline;
            }

            .text-end {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
            }
        }
    }
}