.container {
}

.gradeContainer {
  display: flex;
  justify-content: center;
  // margin: 20px;
  gap: 20px;
  // border: 2px solid lightgrey;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 5px;
  padding: 20px;

  .pickmsg {
    display: flex;
    align-items: center;

    p {
      margin: 0;
      font-size: larger;
    }
  }
}
