.images {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: masonry;
    align-tracks: start; // A new masonry only property
    justify-tracks: start; // A new masonry only property
    grid-gap: 3rem;
}