// ========================
//        Colours
// ========================
$body-color: #e5e5e5;
$sidebar-color: #EDF2FA;
$right-color: #EDF2FA;
$primary-color: blue;
$tab-color: #B5C9EB;
$anno-color: #B5C9EB;
// Text Color
$text-color: #212529;

// Button Color
$button-color: #7671EA;


// ========================
//          Table
// ========================
// Table Header
$table-header-color: #EDF2FA;
    // -Table Colors
$table-color: #EDF2FA;


// ========================
//        Transitions
// ========================
$tran-02: all 0.2s ease;
$tran-03: all 0.3s ease;
$tran-04: all 0.4s ease;
$tran-05: all 0.5s ease;


// ========================
//     Rounded corners
// ========================
$border-rad-menu: 8px;
$border-rad-buttons: 6px;
$border-rad-small: 10px;
$border-rad-medium: 16px;
$border-rad-large: 20px;

// ========================
//         Margins
// ========================
$margin-block-div: 30px;

// ========================
//      Search Fields
// ========================
$search-height: 40px 