// Tabs for Database
.main_body {
    ul li {
        background-color: $tab-color;
    }

    ul li .nav-link {
        color: black;
        font-weight: 500;
    }

    .row header {
        .button {
            font-size: 40px;
            align-items: center;
        }
    }
}