// Abstracts
@import './sass/abstracts/variables';
// Components
@import './sass/components/buttons', './sass/components/carousel', './sass/components/loading';
// Core
@import './sass/core/reset';
// Layout
@import './sass/layout/footer', './sass/layout/grid', './sass/layout/header', './sass/layout/navigation', './sass/layout/rightcontent', './sass/layout/sidebar';
//=========================== 
//          Pages
//=========================== 
@import'../pages/analytics/analytics',
'../pages/attendance/attendance',
'../pages/dashboard/dashboard',
'../pages/database-viewer/database-viewer',
'../pages/login/login',
'../pages/notifications/notifications',
'../pages/search/search',
'../pages/homepage/homepage';

// Sections

/* Selecting all pages */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    transition: $tran-05;
}

.css-1xy1myn-MuiDataGrid-root .MuiDataGrid-row.Mui-selected {
    background-color: $button-color;
}